link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
link(href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet")
link(href="/vendors/nprogress/nprogress.css" rel="stylesheet")
link(href="/stylesheets/switchery/switchery.min.css" rel="stylesheet")

// Custom styles.
link(href="/stylesheets/custom.css" rel="stylesheet")
