script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/vendors/fastclick/lib/fastclick.js")
script(src="/vendors/nprogress/nprogress.js")
script(src="/javascripts/switchery/switchery.min.js")
script(src="/javascripts/custom.min.js")
