div(id="sidebar-menu" class="main_menu_side hidden-print main_menu")
  div(class="menu_section")
    h3 General
    ul(class="nav side-menu")
      li
        a
          i(class="fa fa-home") 
          | Inicio 
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="index.html") Panel de informaci칩n
      li
        a
          i(class="fa fa-upload")
          | Reportes 
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li 
            a(href="form.html") Publicar reporte de Servicios
          li
            a(href="form_advanced.html") Publicar reporte de Actividades
      li
        a
          i(class="fa fa-calendar")
          | Calendario
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Programar evento
      li
        a
          i(class="fa fa-book")
          | Cat치logos
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Empresas
          li
            a(href="#") Contactos
          li
            a(href="#") Servicios
      li
        a
          i(class="fa fa-gear")
          | Configurar
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Acceso
          li
            a(href="#") Peri칩do
      li
        a
          i(class="fa fa-question")
          | Ayuda
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Manual del usuario
      li
        a
          i(class="fa fa-sign-out")
          | Salir
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Cerrar sesi칩n
