div(id="sidebar-menu" class="main_menu_side hidden-print main_menu")
  div(class="menu_section")
    h3 General
    ul(class="nav side-menu")
      li
        a
          i(class="fa fa-home") 
          | Inicio 
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="/main") Panel de información
      li
        a
          i(class="fa fa-upload")
          | Publicar reportes 
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li 
            a(href="/publicar/reportes") De servicios y/o de actividades
          li
            a(href="/operaciones/reportes") Consultar y/o eliminar
      li
        a
          i(class="fa fa-calendar")
          | Calendario
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="/calendar") Establecer fechas de servicio
      li
        a
          i(class="fa fa-book")
          | Catálogos
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="/catalogos/clientes") Clientes
          li
            a(href="#") Contactos
          li
            a(href="#") Servicios
          li
            a(href="#") Períodos
      li
        a
          i(class="fa fa-gear")
          | Configurar
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Accesos
          li
            a(href="#") Ciclos
      li
        a
          i(class="fa fa-question")
          | Ayuda
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="#") Manual del usuario
      li
        a
          i(class="fa fa-sign-out")
          | Salir
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li
            a(href="/logout") Cerrar sesión
