div(id="loginModal" class="modal modal-fixed-footer")
  div(class="modal-content")
    h4 SGRT
    h5 Iniciar sesión
    
    div(class="row")
      form(class="col s12")
        div(class="row")
          div(class="input-field col s12")
            input(id="correoElectronico" type="email" class="validate")
            label(for="correoElectronico") Correo Electrónico
          div(class="input-field col s12")
            input(id="contrasena" type="password")
            label(for="contrasena") Contraseña
  
  div(class="modal-footer")
    a(href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat") Agree
  
script.    
  $(document).ready(function(){
    $('#loginModal').modal();
    $('#loginModal').modal('open');
  });
