doctype html

html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css")

    link(rel="stylesheet" href="/stylesheets/presentational-only.css")
    link(rel="stylesheet" href="/stylesheets/full-background-image.css")

    title=title
body
  nav(class="navbar" id="top")
    div(class="inner")
      a(href="http://protesasistemascontraincendio.com/") Website
      a(href="#") Acerca de

  header(class="container")
    section(class="content")
      h1 Bienvenidos al Sistema Hércules
      p(class="sub-title") Sistema para la Gestión Integral
      p
        a(class="button" id="load-more-content" href="/login") INICIAR SESIÓN
      div(class="only-text") Copyright © 2017 Hércules Producciones S. A. de C. V.
