doctype html

html
  head
    include includes/metas.jade
    
    link(href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css")

    link(rel="stylesheet" href="/css/presentational-only.css")
    link(rel="stylesheet" href="/css/full-background-image.css")

    title=title
body
  nav(class="navbar" id="top")
    div(class="inner")
      a(href="http://protesasistemascontraincendio.com/") Website
      a(href="#") Acerca de

  header(class="container")
    section(class="content")
      h1 SGRT
      h2 Sistema para la Gestión de Reportes de Trabajo
      p
        a(class="button" id="load-more-content" href="/login") INICIAR SESIÓN
      div(class="only-text") Copyright © 2017 PROTESA Sistemas Contra Incendio.
