doctype html

html
  head
    include includes/metas.jade

    title=title

    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/full-background-image.css" rel="stylesheet")
    link(href="/css/switchery/switchery.min.css" rel="stylesheet")
    
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/switchery/switchery.min.js")
    
    title=title
    
body
  block content
