doctype html

html
  head
    include includes/metas.jade

    title=title

    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/full-background-image.css" rel="stylesheet")
    link(href="/stylesheets/switchery/switchery.min.css" rel="stylesheet")
    
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/switchery/switchery.min.js")
    
    title=title
    
body
  block content
