doctype html
html
  head
    include includes/metas
    
    title=title

    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/font-awesome/font-awesome.min.css" rel="stylesheet")
    link(href="/css/nprogress/nprogress.css" rel="stylesheet")
    link(href="/css/custom.min.css" rel="stylesheet")
    link(href="/css/switchery/switchery.min.css" rel="stylesheet")
    link(href="/css/bootstrap-select/bootstrap-select.min.css")
    
  body(class="nav-md footer_fixed")
    div(class="container body")
      div(class="main_container")
        div(class="col-md-3 left_col")
          div(class="left_col scroll-view")
            div(class="navbar nav_title" style="border: 0;")
              a(href="#" class="site_title")
                i(class="fa fa-gear")
                span  SGRT
  
            div(class="clearfix")
            
            // Profile menú.
            div(class="profile clearfix")
              div(class="profile_pic")
                img(src="/images/user.png" alt="..." class="img-circle profile_img")
              div(class="profile_info")
                span Bienvenido
                 h2 #{user.local.nombre} #{user.local.primerApellido} 
                 
              div(class="clearfix")
            
            br 
              
            include menus/side-bar
        
        include menus/top-navigation
        include content/content
        include footer
        
        include configure/configure-company
        
    // Modal para seleccionar cliente y ciclo.
    div(id="configuracionInicialModal" class="modal fade" tabindex="-1" role="dialog")
      div(class="modal-dialog modal-sm")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title") Seleccionar cliente y ciclo
          div(class="modal-body")
            p Seleccione el cliente y el ciclo con los que desea trabajar.
            form
              div(class="form-group")
                label(for="cliente") Cliente
                select(id="cliente" class="form-control")
                  option EMPRESA 1
                  option EMPRESA 2
                  option EMPRESA 3
                  option EMPRESA N
              div(class="form-group")
                label(for="ciclo") Ciclo
                select(id="ciclo" class="form-control")
                  option 2017
                  option 2016
                  option 2015
                  option 2014...
              div(class="form-group")
                label
                  input(type="checkbox" class="js-switch") 
                  span(style="padding-left: 10px;") Recordar estos datos
          div(class="modal-footer")
            button(type="button" class="btn btn-primary" data-dismiss="modal") Aceptar 
    
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/fastclick/fastclick.js")
    script(src="/js/nprogress/nprogress.js")
    script(src="/js/custom.min.js")
    script(src="/js/switchery/switchery.min.js")
    script(src="/js/bootstrap-select/bootstrap-select.min.js")
    
    script.
      $(window).load(function() {
        $('#configuracionInicialModal').modal('show');
      });
